* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.article {
    max-width: 45rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    gap: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.text-heading-1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.9rem;
    letter-spacing: 0;
    border-bottom: 0.125rem solid rgba(52, 152, 219, 1);
    padding-bottom: 0.625rem;
    color: rgba(44, 62, 80, 1);
}

.text-heading-2 {
    padding-top: 0.4375rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    color: rgba(52, 73, 94, 1);
    padding-top: 1.5rem;
}

.text-heading-3 {
    padding-top: 0.95rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    color: rgba(52, 73, 94, 1);
}

.text-body-bold {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0;
}

.text-body-base {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.6rem;
}

.text-code {
    width: 2.12rem;
    display: inline-block;
    font-family: 'Courier New';
    font-size: 0.9rem;
    color: rgba(51, 51, 51, 1);
    letter-spacing: 0;
    line-height: 1.44rem;
    position: relative;
    bottom: 0.2rem;
    left: 0.3rem;
}

.article__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article__meta,
.paragraph__list-item {
    background-color: rgba(236, 240, 241, 1);
    border-radius: 0.25rem;
    padding: 1rem;
    color: rgba(127, 140, 141, 1);
}

.article__meta span,
.paragraph__list-item span {
    font-weight: 400;
}

.paragraph__list-item {
    color: rgba(51, 51, 51, 1);
    background-color: transparent;
    padding: 0;
}

.article__content {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(51, 51, 51, 1);
    gap: 1rem;
}

.article__paragraph {
    line-height: 1.6rem;
}

.article__paragraph-top {
    position: relative;
    left: 0.1rem;
}

.article__paragraph-bottom {
    position: relative;
    left: 0.5rem;
    bottom: -0.05rem;
}

.paragraph-bottom {
    margin-top: -0.2rem;
}

.article__paragraph-first {
    margin-top: -0.2rem;
}

.article__paragraph-second {
    margin-top: 1.2rem;
}

.article__paragraph-item1 {
    margin-left: 0.4rem;
}

.article__paragraph-item2 {
    margin-left: 0.7rem;
}

.article__paragraph-item3 {
    margin-left: -0.4rem;
}

.article__note {
    margin-top: 1rem;
    background: rgba(255, 243, 205, 1);
    border-radius: 0.25rem;
    border-left: 0.25rem solid rgba(255, 193, 7, 1);
    padding: 1.5rem;
    font-style: italic;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.6rem;
}

.article__paragraph-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    margin-top: 1.3rem;
}